
<div class="card">
  <div class="card-header">
    <h1>{{title}}</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="formClient" class="row">
      <div class="mb-3">
        <label class="form-label" for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" formControlName="nombre">
      </div>
      <div class="mb-3">
        <label class="form-label" for="inputLastName">Apellido</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Apellido" formControlName="apellido">
      </div>
      <div class="mb-3">
        <label class="form-label" for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        <div class="form-text" id="emailHelp">
          Nunca compartiremos tu correo con nadie.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="inputPhone">Telefono</label>
        <input type="email" class="form-control" id="inputPhone" placeholder="Telefono" formControlName="telefono">
        <div class="form-text" id="phoneHelp">
          Tu teléfono esta seguro con nosotros.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkRemember">
          <label class="form-check-label" for="checkRemember">¿Desea ser contactado?</label>
        </div>
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)="handleSubmit($event)">Registrar cliente</button>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-outline-secondary" (click)="goHome()">Inicio</button>
  </div>
</div>
