
<div class="d-flex justify-content-center">
  <nav *ngIf="list.length > 0">
    <ul class="pagination">
      <li class="page-item">
        <button
          [disabled]="currentPage <= 1"
          (click)="onClick(currentPage - 1)"
          [class.disabled]="currentPage <= 1"
          class="page-link">
          Previous
        </button>
      </li>
      <li class="page-item" *ngFor="let page of pages">
        <button (click)="onClick(page)" [class.active]="page === currentPage" class="page-link">
          {{page}}
        </button>
      </li>
      <li class="page-item">
        <button
          [disabled]="currentPage >= totalPages"
          [class.disabled]="currentPage >= totalPages"
          (click)="onClick(currentPage + 1)"
          class="page-link">
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
